<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Corpus Christi</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>






<body>
  <div class="padre">

    <header class="header">
      <div class="menu margen-interno">
        <div class="logo">
          <a href="dashboard">Azuay Cultural</a>
        </div>
        <nav class="nav">
          <a href="dashboard"><i class="fa fa-book" aria-hidden="true"></i><span class="off">Eventos</span></a>
          <a href="tables"><i class="fa fa-user" aria-hidden="true"></i><span class="off">Eventos Destacados</span></a>
          <a href="grid"><i class="fa fa-star" aria-hidden="true"></i><span class="off">Eventos Favoritos</span></a>
          <a href="components"><i class="fa fa-map" aria-hidden="true"></i><span class="off">Mapa</span></a>

        </nav>
        <div class="social">
          <div><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></div>
          <div><a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></div>
        </div>
      </div>
      <div class="texto-principal margen-interno">
        <h1><b>Anime Fest</b></h1>

      </div>



    </header>
    <section class="section  margen-interno">
      <div class="articulos">
        <article class="article">


          <br>

          <img src="assets/images/anime.jpg"> 

          <p>
            Hacemos una cordial invitación a todo el público <b>Otaku, K-poper, Gamer y Geek de Cuenca</b> a darse
            cita en este genial evento pensado para compartir juntos una tarde amena llena de <b>música, baile,
            cosplay, videojuegos, torneos y todos nuestros hobbies favoritos.</b><br>
            <strong> Fecha:</strong> Sábado 10 de Mayo del 2020 <br>
            <strong>Hora:</strong> Desde las 10:00 hasta las 19:00 <br>
            <strong>Lugar:</strong> Teatro Casa de la Cultura de Cuenca <br>
            <strong>Dirección:</strong> Luis Cordero, entre Presidente Córdova y Sucre 
          </p>


        </article>

        <article class="article">


          <h4><b>Actividades</b></h4>

          <br>

          <img src="assets/images/disfraz.jpg">

          <br>

          <p>
          <strong>Actividades a realizar en el evento:</strong> <br>
          -  Concurso Cosplay <br>
          -  K-pop Dance Cover Individual <br> 
          -  K-pop Dance Cover Grupal <br>
          -  Concurso de Karaoke K-pop, Anime y Disney <br>
          -  Concurso de Dibujo (Infantil) <br>
          -  Concurso de Dibujo (Adultos) <br>
          -  Torneo de videojuegos <br>
          -  Concursos y Trivias Anime <br>
          -  Pasarela Cosplay <br>
          -  Concursos y Trivias K-pop <br> 
          -  K-pop Random Dance Challenge <br>
          -  Torneo de Softcombat (Lucha con espadas) <br> 
          -  Ilustradores y Cosplayers Invitados <br>
          -  Artistas Invitados <br>
          </p>

          <br>

          <p>
            Además, tendremos expositores de todo el país que nos ofrecerán productos relacionados a la cultura japonesa
            y coreana, entre los cuales podremos encontrar <b>figuras de acción, mangas, comics, maquillaje coreano,
            álbumes de k-pop, tazas, camisetas, posters, y una infinidad de artículos.</b>
            <br>
            Entradas ya a la venta en <strong>Zombie Kater (A. Vega Muñoz 12-17 y Tarqui)</strong> <br>
            <strong>Precio de las manillas:</strong> $5 <br>
          </p>

        </article>  




      </div>

      <br>

      <aside class="aside">
        <div class="publicidad">
          <iframe width="350" height="200" src="https://www.youtube.com/embed/bu3YUw2hx_k"></iframe>
        </div>

        <br>

        <div class="publicidad">

          <iframe width="350" height="200" src="https://www.youtube.com/embed/HDa7XbfyGWI"></iframe>

        </div>

        <br>

        <div class="publicidad">

          
         <p><b>Cosplay, arte y espectáculo en el ‘Anime Fest’</b></p>
        

         <img src="assets/images/goku.jpg" width="350" height="200">

         <p>
          La tercera edición de este encuentro se desarrollará mañana en el Teatro Casa<br> de la Cultura
           y se prevé una pasarela cosplay, una feria de artículos de <br>la cultura japonesa, venta de fotografías
           y nuevos diseños. Además, estarán presentes los actores que hacen <br>las voces de ‘Goku’ y ‘Vegeta’.
        </p>

        <a href="https://www.eltiempo.com.ec/noticias/entretenimiento/13/cosplay-comic-anime-fest?__
        cf_chl_jschl_tk__=a09b82543f0af23bc351a657897f67e046249124-1586370432-0-AQtbPlzbwwgdmndKXAJqXpyYH
        y3rGGCuoIU81D-kkrzThV9flrA_OEOTCC2wBMzT9VXzsMgDjTZVImet_pSx3mQTV-PyA_BKylcWaQRo6mh4i6b5a8FfnYIR7F05bt
        7sxCQGkaxDJhZdi6P4WYdRcHwhG5AwAJ_pgnI9rcxqxYsvYCMMlZ71khhvWdna2BUtJ75CnmMW8JiVvwn3Ov64XsYGUb3BmZl0EeG
        AVzmFuXTIWgMqVX1LnVG91tMHJHdd8YLyf6ZcpZEBxjkrvrVre0l_n2AaGpSeIPpP1YnJqJ_jFQnvM9kS7RnU4rdZijEWPiI_yZIY
        Zw3p1LE_2VRcNjw" target="_blank">
          Ver más...
        </a>

        </div>




        

      </aside>

    </section>

  </div>

  <footer class="footer margen-interno">

    <nav class="pie">

      <p><b>Azuay cultural</b></p>

      <p><b> CEI 2020</b></p>

    </nav>

  </footer>

</body>

</html>