<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img src="assets/images/logo.png" width="150px" class="user-avatar" />
            <h1>AzuayCultural</h1>
          
            <form role="form">
                <div class="form-content">
                    <div class="form-group">
                        <h1>RECUPERAR USUARIO</h1>
                        <input type="text" ng-model="name" class="form-control input-underline input-lg" id="" placeholder="{{ 'Correo'  }}">
                        <br>
                        <a class="btn rounded-btn" >{{ 'Recuperar Usuario' }}</a>
                        <br>
                        <h1>RECUPERAR CONTRASEÑA</h1>
                        <input type="text" ng-model="name" class="form-control input-underline input-lg" id="" placeholder="{{ 'Usuario'  }}">
                        <input type="text" ng-model="name" class="form-control input-underline input-lg" id="" placeholder="{{ 'Correo'  }}">
                        <br>
                        <a class="btn rounded-btn" >{{ 'Recuperar Contraseña' }}</a>
                    </div>
                  