<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Corpus Christi</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>






<body>
  <div class="padre">

    <header class="header">
      <div class="menu margen-interno">
        <div class="logo">
          <a href="dashboard">Azuay Cultural</a>
        </div>
        <nav class="nav">
          <a href="dashboard"><i class="fa fa-book" aria-hidden="true"></i><span class="off">Eventos</span></a>
          <a href="tables"><i class="fa fa-user" aria-hidden="true"></i><span class="off">Eventos Destacados</span></a>
          <a href="grid"><i class="fa fa-star" aria-hidden="true"></i><span class="off">Eventos Favoritos</span></a>
          <a href="components"><i class="fa fa-map" aria-hidden="true"></i><span class="off">Mapa</span></a>
          <!--         <a href="#"><i class="fa fa-phone" aria-hidden="true"></i><span class="off">contacto</span></a>-->
        </nav>
        <div class="social">
          <div><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></div>
          <div><a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></div>
        </div>
      </div>
      <div class="texto-principal margen-interno">
        <h1><b> I Congreso Internacional De Seguridad Alimentaria y Nutricional </b></h1>

      </div>



    </header>
    <section class="section  margen-interno">
      <div class="articulos">
        <article class="article">
          <h4><b>
            I Congreso Internacional De Seguridad Alimentaria y Nutricional</b></h4>

          <br>

          <img src="assets/images/uda.jpg"> <br>

          <p>
            ¡Importante!<br>

<b>Se extiende el plazo de envío de resúmenes hasta el 30 de marzo del presente año,</b>
 para I Congreso Internacional de Seguridad Alimentaria y Nutricional.
<br>
La Universidad de Cuenca invita a formar parte del “I Congreso Internacional 
de Seguridad Alimentaria y Nutricional”, este evento se efectuará del<b> 22 al 26 de junio.</b> 
<br>
<b>Las  Temáticas del Congreso son:</b><br>

- Alimentación,  Salud y Nutrición.<br>
- Economía, Comercio y Políticas Públicas.<br>
- Sistemas alimentarios e impacto medio ambiental.<br>
- Transformación industrial y gastronómica de los alimentos.<br>
- Género, Derecho a la alimentación y pueblos y nacionalidades indígenas.<br>

<br>
<b>Inscripciones abiertas hasta el 21 de junio de 2020. <br>
Envío de resúmenes hasta el 13 de marzo de 2020</b><br>


          </p>


        </article>


      </div>

      <br>

      <aside class="aside">




        <br>



        <div class="publicidad">



          <img src="assets/images/gol.gif" width="350" height="200">




        </div>


        <br>

        <div class="publicidad">



          <img src="assets/images/carro.gif" width="350" height="200">




        </div>






      </aside>

    </section>

  </div>

  <footer class="footer margen-interno">

    <nav class="pie">

      <p><b>Azuay cultural</b></p>

      <p><b> CEI 2020</b></p>

    </nav>

  </footer>

</body>

</html>