<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Corpus Christi</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>






<body>
  <div class="padre">

    <header class="header">
      <div class="menu margen-interno">
        <div class="logo">
          <a href="dashboard">Azuay Cultural</a>
        </div>
        <nav class="nav">
          <a href="dashboard"><i class="fa fa-book" aria-hidden="true"></i><span class="off">Eventos</span></a>
          <a href="tables"><i class="fa fa-user" aria-hidden="true"></i><span class="off">Eventos Destacados</span></a>
          <a href="grid"><i class="fa fa-star" aria-hidden="true"></i><span class="off">Eventos Favoritos</span></a>
          <a href="components"><i class="fa fa-map" aria-hidden="true"></i><span class="off">Mapa</span></a>
          <!--         <a href="#"><i class="fa fa-phone" aria-hidden="true"></i><span class="off">contacto</span></a>-->
        </nav>
        <div class="social">
          <div><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></div>
          <div><a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></div>
        </div>
      </div>
      <div class="texto-principal margen-interno">
        <h1><b>Eventos Destacados</b></h1>

      </div>



    </header>
    <section class="section  margen-interno">
      <div class="articulos">
        <article class="article">
            <h4><b>
                CORPUS CHRISTI</b></h4>
  
            <br>
  
            <img src="assets/images/feria.jpg"> <br>
  
            <p>
                Rituales de fe, tradiciones y dulces en Cuenca por el Corpus Christi........
              <br>
              Te traemos el mejor evento cultural y gastronomico para el 04 de Julio en el Centro de la ciudad de Cuenca, Parque Abdon Calderon
              <br>
              <a href="pagina-corpus">
                Más Información 
              </a>
              <br>
              <a href="components">
                 Verlo en el Mapa
                </a>
            </p>
  
  
          </article>
        <article class="article">
          <h4><b>
              ¡LA ABDUCCIÓN!</b></h4>

          <br>

          <img src="assets/images/cuenca.jpg"> <br>

          <p>
            Una fiesta de otro mundo..
            <br>
            Te traemos el mejor evento para el 03 de abril en el Colegio de Arquitectos "C.A.E" ubicado en el sector del
            Control Sur - Narancay.
            <br>
            <a href="pagina-cuenca">
              Más Información 
            </a>
            <br>
            <a href="components">
               Verlo en el Mapa
              </a>
          </p>


        </article>

        <article class="article">
            <h4><b>
                ROTO FEST</b></h4>
  
            <br>
  
            <img src="assets/images/roto.jpeg"> <br>
  
            <p>
              Música y Diversión para todo el mundo....
              <br>
             El mejor evento a nivel nacional de conciertos para el dia  28 y 29  de abril en el MegaParque Tarqui-Guzho,
             Sector Facultad de Artes
              <br>
              <a href="pagina-roto">
                Más Información 
              </a>
              <br>
              <a href="components">
                 Verlo en el Mapa
                </a>
            </p>
  
  
          </article>
      </div>

      <br>

      <aside class="aside">




        <br>



        <div class="publicidad">



          <img src="assets/images/giphy.gif" width="350" height="200">




        </div>


        <br>

        <div class="publicidad">



          <img src="assets/images/coca.gif" width="350" height="200">




        </div>






      </aside>

    </section>

  </div>

  <footer class="footer margen-interno">

    <nav class="pie">

      <p><b>Azuay cultural</b></p>

      <p><b> CEI 2020</b></p>

    </nav>

  </footer>

</body>

</html>