


<div class="card-body">
    
    <ul class="timeline">
        <li>
 
          
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Corpus Christi 2020</h4>
                    <p><small class="text-muted"><i class="fa fa-clock-o"></i> Sábado, 4 de Julio de 2020</small>
                    </p>
                </div>
                <div class="timeline-body">
                    <img src="assets/images/corpusC.jpg" width="100%">
                    <p>La tradicional Fiesta del Corpus Christi cuya celebración, mezcla la religión, gastronomía, 
                        cultura y artes populares se vive en el Centro Histórico de Cuenca.</p>
                        <div class="rw-ui-container"></div>
                    </div>
                    <button routerLink="/pagina-corpus">Información</button>
            </div>
        </li>
        <li  class="timeline-inverted">
          
       
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Pika Fest</h4>
                    <p><small class="text-muted"><i class="fa fa-clock-o"></i> Sábado, 10 de Mayo de 2020</small>
                    </p>
                </div>
                <div class="timeline-body">
                    <img src="assets/images/otakus.jpg" width="100%">
                    <p>  Hacemos una cordial invitación a todo el público Otaku,
                        K-poper, Gamer y Geek de Cuenca a darse cita en este genial 
                        evento pensado para compartir juntos una tarde
                        amena llena de música, baile, cosplay, videojuegos, torneos y todos nuestros hobbies favoritos.</p>
                </div>
                <button routerLink="/pagina-pika">Información</button>
            </div>
        </li>
        <li>
       
            
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Roto Fest 2020</h4>
                    <p><small class="text-muted"><i class="fa fa-clock-o"></i> Viernes, 1 de Mayo de 2020</small>
                    </p>
                </div>
                <div class="timeline-body">
                    <img src="assets/images/roto.jpeg" width="100%">
                     <p>
                        Cuenca se posiciona como el destino preferido de entretenimiento del país y por décimo tercer año consecutivo,
                         los días sábado 28 y domingo 29 de abril,
                         será sede del RotoFest2018,
                         el festival internacional de música electrónica e independiente mas grande del Ecuador.
                      </p>
                </div>
                <button>Información</button>
            </div>
        </li>
        <li class="timeline-inverted">
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Cuenca Music Fest</h4>
                    <p><small class="text-muted"><i class="fa fa-clock-o"></i> Viernes, 16 de Abril de 2020</small>
                    </p>
                </div>
                <div class="timeline-body">
                    <img src="assets/images/cuenca.jpg" width="100%">
                    <p> Una edición en donde podrás Disfrutar, Reciclar y Ayudar de manera ecológica a nuestra ciudad a llegar 
                        al objetivo de recoger la mayor cantidad de botellas 
                        plásticas para así concientizar a las personas a reducir el uso del plástico
                         ya que el plástico que generamos no se degrada
                         y provoca un impacto muy grave en el medio ambiente.</p>
                </div>
                <button>Información</button>
            </div>
        </li>
        <li>
           
            
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">La Abducción</h4>
                    <p><small class="text-muted"><i class="fa fa-clock-o"></i> Sábado, 2 de Mayo de 2020</small>
                    </p>
                </div>
                <div class="timeline-body">
                    <img src="assets/images/abduccion.jpg" width="100%">
                    <p>  ¡LA ABDUCCIÓN!<br> 
                        Una fiesta de otro mundo..<br>
                        Atrévete a sentir algo diferente en un lugar magnífico.
                Podrás ingresar rápidamente por los accesos habilitados de manera estratégica</p>
                    
                   
                </div>
                <button>Información</button>
            </div>
        </li>
        <li  class="timeline-inverted">
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">I Congreso Internacional De Seguridad Alimentaria y Nutricional</h4>
                    <p><small class="text-muted"><i class="fa fa-clock-o"></i> Viernes, 1 de Mayo de 2020</small>
                    </p>
                </div>
                <div class="timeline-body">
                    <img src="assets/images/uda.jpg" width="100%">
                    <p> ¡Importante!

                        Se extiende el plazo de envío de resúmenes hasta el 
                        30 de marzo del presente año, para I Congreso Internacional de Seguridad Alimentaria y Nutricional.
                        
                        La Universidad de Cuenca invita a formar parte del “I Congreso Internacional de Seguridad
                         Alimentaria y Nutricional”, este evento se efectuará del  22 al 26 de junio. 
                                </p>
                </div>
                <button>Información</button>
            </div>
        </li>
        <li>
           
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Compadres Tour</h4>
                    <p><small class="text-muted"><i class="fa fa-clock-o"></i> Viernes, 29 de Mayo de 2020</small>
                    </p>
                </div>
                <div class="timeline-body">
                    <img src="assets/images/compadres.jpg" width="100%">
                    <p>Cepeda y Fonseca unen sus talentos en este 2020 para deleitarnos 
                        con sus más grandes canciones en un escenario lleno de talento, carisma, romance y fiesta, y llegan a Ecuador
                         para deleitarnos con un show alucinante el viernes 29 de mayo en Cuenca en el Coliseo Jefferson Pérez 20h00.</p>
                </div>
                <button>Información</button>
            </div>
        </li>
    </ul>
</div>
