
<div [@routerTransition]>
    <app-page-header [heading]="'Comida Tradicional Azuay'" [icon]="'fa-bar-chart-o'"></app-page-header>
    <div class="row">
        <div>
            <img src="https://ecuador.gastronomia.com/media/cache/noticia_grande/uploads/noticias/motepillo.THdGZWE5YzBxRGtLSHlYdi8vMTU1MjQxMTQxMC8.jpg" hspace="5" vspace="5" style="float: none;" />
          <strong> <h2>MOTE PILLO</h2></strong>
       <p>El mote pillo es delicioso y muy fácil de preparar, consiste de mote o maíz pelado y cocinado que se fríe con cebolla blanca, ajo, achiote, huevos, leche, cebolletas y cilantro o perejil.</p>    

        </div>
        <div>
            <img src="https://img.goraymi.com/2018/04/12/12eb27a62884653f15802451ac7c5347_lg.jpg" hspace="5" vspace="5" style="float: none;" />
          <strong><h2>CUY CON PAPAS </h2></strong> 
       <p >Consistente en cuy asado a la brasa, se lo sirve con papas enteras, peladas, en salsa de maní o pepa de sambo (tostados y molidos), con ensalada de lechugas, cebolla, tomate y culantro, más la salsa de ají para quienes gustan el picante. </p>    
       
        </div>
</div>
