<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img class="user-avatar" src="assets/images/logo.png" width="150px" />
            <h1>Azuay Cultural</h1>
            <form #formRegister="ngForm" (ngSubmit)="onLogin()">



                <div class="form">
                <input name="email" class="form-control"  type="email" placeholder="Correo Electrónico" [(ngModel)]="user.email" required>

                </div>



                <div class="form">
                <input name="password" class="form-control" placeholder="Contraseña" type="password" [(ngModel)]="user.password" required>

            </div>


                <div class="form">
                <button type="submit" class="btn rounded-btn" [routerLink]="['/dashboard']" (click)="onLogin()"
                    (click)="onLoggedin()">Ingresar</button>
                &nbsp;
            </div>
                <div class="form">
                <a class="btn rounded-btn" [routerLink]="['/signup']">¿No tienes una cuenta?</a>
            </div>
            <div>
                <a href="not-found">
                    Olvidaste Usuario O Contraseña?
                  </a>
                
                </div>

            </form>
        </div>
    </div>
</div>