label {
    color: green;
  }
  .row{
    background-color: lightness($color: #f12832);
  }
 
  .card-header{
    background-color: red($color: #000000);
    font-family: fantasy;
    font-size: 24px;
    text-decoration: double;
    text-shadow: 0px 0px 2px rgb(41, 39, 39);
    color: black;
  }

  .text{
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: black;
    text-transform: uppercase;
    font-weight: 300;
    text-shadow: 0px 0px 3px;
  }

  