<div [@routerTransition]>
    <h2 class="text-muted">AzuayCultural <small></small></h2>
    <div class="row">
        <div class="col-md-12">
            <ngb-carousel>
                <ng-template ngbSlide *ngFor="let slider of sliders">
                    <img class="img-fluid mx-auto d-block" [src]="slider.imagePath" alt="Random first slide" width="100%">
                    <div class="carousel-caption">
                        <h3>{{slider.label}}</h3>
                        <p>{{slider.text}}</p>
                    </div>
                </ng-template>
            </ngb-carousel>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'danger'" [routerLink]="['/tables']" [icon]="'fa-tasks'" [count]="5" [label]="'Eventos Destacados'" ></app-stat>
        </div>
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'warning'"  [routerLink]="['/components']" [icon]="'fa-map'" [count]="5" [label]="'Mapa de Eventos'" ></app-stat>
        </div>
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'danger'" [routerLink]="['/grid']" [icon]="'fa-star'" [count]="1" [label]="'Eventos Favoritos'" ></app-stat>
        </div>
       
    </div>
<br>
    
    <div class="row">
       
            <div class="card card-default">
                <div class="card-header">
                    <i class="fa fa-tasks"></i> Eventos Azuay
                </div>
                <!-- /.card-header -->
                <app-timeline></app-timeline>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
       
        <!-- /.col-lg-8 -->
   <!--     <div class="col-lg-4">
            <div class="card card-default mb-3">
                <div class="card-header">
                    <i class="fa fa-bell fa-fw"></i> Tabla de Notificaciones
                </div> 
                 /.card-header 
                <app-notification></app-notification>
                 /.card-body 
            </div>
             /.card 

            <app-chat></app-chat>
             /.card .chat-card
        </div>
         /.col-lg-4 
    </div>
</div>
-->