<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Corpus Christi</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>






<body>
  <div class="padre">

    <header class="header">
      <div class="menu margen-interno">
        <div class="logo">
          <a href="dashboard">Azuay Cultural</a>
        </div>
        <nav class="nav">
          <a href="dashboard"><i class="fa fa-book" aria-hidden="true"></i><span class="off">Eventos</span></a>
          <a href="tables"><i class="fa fa-user" aria-hidden="true"></i><span class="off">Eventos Destacados</span></a>
          <a href="grid"><i class="fa fa-star" aria-hidden="true"></i><span class="off">Eventos Favoritos</span></a>
          <a href="components"><i class="fa fa-map" aria-hidden="true"></i><span class="off">Mapa</span></a>
          <!--         <a href="#"><i class="fa fa-phone" aria-hidden="true"></i><span class="off">contacto</span></a>-->
        </nav>
        <div class="social">
          <div><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></div>
          <div><a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></div>
        </div>
      </div>
      <div class="texto-principal margen-interno">
        <h1><b>Roto Fest </b></h1>

      </div>



    </header>
    <section class="section  margen-interno">
      <div class="articulos">
        <article class="article">
          <h4><b>Roto Fest 2020</b></h4>

          <br>

          <img src="assets/images/roto.jpeg"> <br>

          <p>“Acontecimiento cultural pionero y único en su formato y contenidos”, así se presenta Rotofest,
            festival celebrado en Cuenca (Ecuador) que este año desarrollará entre el 1 y 2 de agosto la que
            será su 14ª edición.<br>

            Lo cierto es que Rotofest es un referente tanto nacional como internacional, posición privilegiada
            que ha alcanzado gracias a su cuidada oferta capaz de combinar lo lúdico con lo artístico, la vanguardia
            con la experimentación y las nuevas corrientes musicales de la electrónica con la música independiente
            tanto de la mano de artistas consolidados como de talentos emergentes. Así, en el que es el festival
            más grande de todo Ecuador tiene cabida todo: música, diseño, vídeo, danza, teatro, talleres,
            producciones y un larguísimo etcétera.<br>

            La programación de su nueva edición, la cual contará con una temática enfocada a las festividades
            de Carnaval y por tanto a la interpretación de la música a través del color, el baile, la danza y
            las raíces ecuatorianas, está dividida del siguiente modo:<br>

            Workshop Rotofest: un ciclo de talleres y conferencias que busca hacer más visible y accesible
            la relación existente entre la creatividad, la tecnología, la innovación y el negocio. De inscripción
            gratuita se desarrollará durante toda la semana.
          </p>


        </article>

        <article class="article">


          <h4><b>Conciertos</b></h4>

          <br>

          <img src="assets/images/fest.jpg">

          <br>

          <p>
            <strong> – Concierto de Rock Alternativo:</strong> esta plataforma de nueva creación quiere promover la
            exposición y
            el desarrollo de agrupaciones artísticas locales y nacionales. Participarán ocho bandas nacionales
            y una internacional que abarcarán desde el Indie al Reggae pasando por el Rock, el Hip Hop o el Ska.
            Tendrá lugar viernes 1 de marzo, la asistencia es gratuita y la duración de 12h.
            <br>
            <br>

            <strong> – Concierto de Música Electrónica:</strong> el más grande que se haya visto nunca en el país, con
            un plantel de
            artistas internacionales, nacionales, 3 artistas visuales, y un equipo de performers y bailarines. <br>
            Desde las 10:00h y hasta las 00:00h el público asistente podrá disfrutar de manera gratuita en el Parque
            del Paraíso de las actuaciones del italiano Stefano Noferini, leyenda viva del house y propietario de
            Deeperfect Records, de la brasileña Blancah, integrante del sello berlinés Steyoyoke y dueña de un
            estilo único, del israelí Gel Abril, con más de 20 años de carrera a sus espaldas este artista está
            más allá de cualquier género tradicional, del alemán Robosonic, con Cord Labuhn la diversión y la anarquía
            están siempre aseguradas gracias a su mente radical, del italiano Luca Cazal, actualmente asentado en
            Ibiza y habitual de sellos como Classic Music Company, Crosstown Rebels o Hot Creations, del mejicano
            Dohko, y del alemán Alxj, miembro de los colectivos Spule Musik y Space Safari.<br>
            Y representando a
            la escena ecuatoriana actuarán: Carloh, Almat, Majo Orellana, Chetne b2b Peter C y Najela Soir entre
            otros.


          </p>



        </article>

        <article class="article">


          <h4><b>Feria Roto Fest</b></h4>

          <br>

          <img src="assets/images/feriaRoto.jpg">

          <br>

          <p>
            Y por si todo esto fuese poco también habrá una Feria. La feria BZRT, una feria de música,
            arte diseño y gastronomía independiente con más de 100 expositores que estará activa tanto
            durante el viernes día 1 como el sábado día 2 de agosto.
          </p>

          <br>

        </article>

      </div>

      <br>

      <aside class="aside">
        <div class="publicidad">
          <iframe width="350" height="200" src="https://www.youtube.com/embed/zZErsDNoH98"></iframe>
        </div>

        <br>

        <div class="publicidad">
          <iframe width="350" height="200" src="https://www.youtube.com/embed/0Pr1MjbuPpg"></iframe>

        </div>

        <br>

        <div class="publicidad">

          <p>
            <b>El Roto Fest comienza a mover fichas para el 2020</b>
          </p>

          <img src="assets/images/rotos.jpg" width="350" height="200">

          <p>
            Con el segundo disco de vinilo en proceso y la nominación, por segundo año consecutivo,
            en los ‘Iberian Festival Awards’ el festival de cultura electrónica ‘Roto Fest’ busca mayor
            presencia internacional. Desde enero se abrirá la convocatoria para que músicos locales,
            nacionales e internacionales formen parte del encuentro programado para junio de 2020.
          </p>

          <a href="https://www.lavozdeltomebamba.com/2019/12/24/el-roto-fest-comienza-a-mover-fichas-para-el-2020/"
            target="_blank">
            Ver más...
          </a>


        </div>

        <br>



        <div class="publicidad">

          <p>
            <b> Roto Fest convoca bandas para el 2020
            </b>
          </p>

          <img src="assets/images/bandas.jpg" width="350" height="200">

          <p>
            En total habrá cuatro cupos disponibles para el Electronic Stage y cuatro cupos para el el
            Rock Stage. Una vez analizadas las carpetas recibidas, se escogerán ocho finalistas quienes
            se enfrentarán en una denominada ‘Sesión Final’, que consiste en dos presentaciones en vivo
            en el Museo de la Ciudad, antigua Escuela Central.
          </p>

          <a href="https://www.eltiempo.com.ec/noticias/entretenimiento/13/roto-fest-convoca-bandas-para-el-2020"
            target="_blank">
            Ver más...
          </a>

        </div>

        <br>

        <div class="publicidad">

          <p>
            <b>Facebook</b>
          </p>

          <img src="assets/images/face.jpg" width="350" height="200">

          <a href="https://www.facebook.com/rotofest.festival/" target="_blank"> Visitar Facebook Oficial
          </a>




        </div>

        <br>

        <div class="publicidad">

          <p>
            <b>Roto Fest</b>
          </p>

          <img src="assets/images/rock.jpg" width="350" height="200">

          <a href="https://www.rotofest.com/" target="_blank"> Visitar Roto Fest Oficial
          </a>




        </div>



      </aside>

    </section>

  </div>

  <footer class="footer margen-interno">

    <nav class="pie">

      <p><b>Azuay cultural</b></p>

      <p><b> CEI 2020</b></p>

    </nav>

  </footer>

</body>

</html>