<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Corpus Christi</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>






<body>
  <div class="padre">

    <header class="header">
      <div class="menu margen-interno">
        <div class="logo">
          <a href="dashboard">Azuay Cultural</a>
        </div>
        <nav class="nav">
          <a href="dashboard"><i class="fa fa-book" aria-hidden="true"></i><span class="off">Eventos</span></a>
          <a href="tables"><i class="fa fa-user" aria-hidden="true"></i><span class="off">Eventos Destacados</span></a>
          <a href="grid"><i class="fa fa-list" aria-hidden="true"></i><span class="off">Administración</span></a>
          <a href="components"><i class="fa fa-map" aria-hidden="true"></i><span class="off">Mapa</span></a>
          <!--         <a href="#"><i class="fa fa-phone" aria-hidden="true"></i><span class="off">contacto</span></a>-->
        </nav>
        <div class="social">
          <div><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></div>
          <div><a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></div>
        </div>
      </div>
      <div class="texto-principal margen-interno">
        <h1><b>Cuenca Music Fest </b></h1>

      </div>



    </header>
    <section class="section  margen-interno">
      <div class="articulos">
        <article class="article">
          <h4><b>Detalles</b></h4>

          <br>

          <img src="assets/images/cuenca.jpg"> <br>

          <p>
            Una edición en donde podrás <b>Disfrutar, Reciclar y Ayudar</b> de manera ecológica a nuestra ciudad a
            llegar al objetivo de recoger la mayor cantidad de <b>botellas plásticas</b> para así concientizar a las
            personas a reducir el uso del plástico ya que el <b>plástico que generamos no se degrada y provoca
            un impacto muy grave en el medio ambiente,</b> inunda nuestros ríos y lo contaminan de manera grave
            e irreversible. <br>
            En la mayoría de los grandes océanos ya hay más plástico en suspensión que
            plancton, y flotando a la deriva formando islas gigantescas de plástico.A diferencia de otros
            materiales como el aluminio o el vidrio, <b>el plástico es un material artificial proveniente
            del petróleo, que tarda cientos de años en descomponerse en la naturaleza.</b> Es un material
            prácticamente indestructible, hasta 1.000 años según el tipo de plástico. <br>Utilizar el plástico
            masiva mente como lo estamos haciendo es un error de consecuencias catastróficas a nivel global.<br>
            Es por eso que vamos a incentivar a las personas al <b>RECICLAJE</b> con la ayuda del Festival en donde
            reuniremos a los mejores Exponentes de cada género. Combinando la Música con el reciclaje , el
            arte Visual y la Cultura en todo su esplendor rescatando a nuestra ciudad de la contaminación.
            <br>
            Porque la música es para compartir sin importar la nacionalidad, sexo, color o religión <b>"P.L.U.R
            "Peace, Love, Unity, Respect"</b>
          </p>


        </article>


      </div>

      <br>

      <aside class="aside">
        <div class="publicidad">
          <iframe width="350" height="200" src="https://www.youtube.com/embed/VGFHvc7pHo4"></iframe>
        </div>



        <br>



        <div class="publicidad">

          <p>
            <b> Festival electrónico, Cuenca Music Fest
            </b>
          </p>

          <img src="assets/images/music.jpg" width="350" height="200">

          <p>
            En total habrá cuatro cupos disponibles <br>para el Electronic Stage y cuatro cupos para el<br>
            Rock Stage. Una vez analizadas las carpetas <br> recibidas, se escogerán ocho finalistas quienes
            se enfrentarán en una denominada ‘Sesión Final’, que consiste en dos presentaciones en vivo
            en el Museo de la Ciudad, antigua Escuela Central.
          </p>

          <a href="https://www.eltiempo.com.ec/noticias/cuenca/2/festival-electronico-cuenca-music-fest-sera-este-sabado"
            target="_blank">
            Ver más...
          </a>

        </div>









      </aside>

    </section>

  </div>

  <footer class="footer margen-interno">

    <nav class="pie">

      <p><b>Azuay cultural</b></p>

      <p><b> CEI 2020</b></p>

    </nav>

  </footer>

</body>

</html>