<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Corpus Christi</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>






<body>
  <div class="padre">

    <header class="header">
      <div class="menu margen-interno">
        <div class="logo">
          <a href="dashboard">Azuay Cultural</a>
        </div>
        <nav class="nav">
          <a href="dashboard"><i class="fa fa-book" aria-hidden="true"></i><span class="off">Eventos</span></a>
          <a href="tables"><i class="fa fa-user" aria-hidden="true"></i><span class="off">Eventos Destacados</span></a>
          <a href="grid"><i class="fa fa-star" aria-hidden="true"></i><span class="off">Eventos Favoritos</span></a>
          <a href="components"><i class="fa fa-map" aria-hidden="true"></i><span class="off">Mapa</span></a>
          <!--         <a href="#"><i class="fa fa-phone" aria-hidden="true"></i><span class="off">contacto</span></a>-->
        </nav>
        <div class="social">
          <div><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></div>
          <div><a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></div>
        </div>
      </div>
      <div class="texto-principal margen-interno">
        <h1><b> Compadres Tour</b></h1>

      </div>



    </header>
    <section class="section  margen-interno">
      <div class="articulos">
        <article class="article">
          <h4><b>
            Fonseca</b></h4>

          <br>

          <img src="assets/images/fonseca.jpg"> <br>

          <p>
             

            Fonseca, uno de los artistas más reconocidos de la escena musical latinoamericana
             <b>llega a Ecuador,</b> el mejor intérprete de la balada- pop y ritmos tradicionales de 
             su natal Colombia, ganador de cinco premios Grammy Latino, y una carrera por demás 
             fructífera que ha cautivado a su público con sus éxitos año tras año, desde los inicios 
             de su carrera con el recordado tema “Te mando Flores”.
            <br>
            Para Fonseca, cada concierto, cada presentación, significa un reto adicional: el de 
            sorprender con algo diferente pero siempre manteniendo su esencia y su estilo en medio
             de las exigencias del mercado discográfico.
            <br>
            Su secreto es estar concentrado en lo que le gusta y en lo que hace. Es un artista que 
            se hace querer y admirar por sus seguidores; de allí que además de talento -y eso que 
            llaman estrella- posee el don de comunicarse con la gente dentro y fuera del escenario 
            y esto lo hace muy especial.
            


          </p>


        </article>

        <article class="article">
          <h4><b>
            Andrés Cepeda</b></h4>

          <br>

          <img src="assets/images/cepeda.jpg"> <br>

          <p>
          
       
         Uno de los artistas colombianos más reconocidos de la escena musical latinoamericana 
         llega a Ecuador, gran exponente de la música romántica, ganador del Grammy Latino y
         una carrera en franco ascenso que ha venido cautivando a su público con sus éxitos 
         año tras año desde que inició su carrera.
        <br>
        Andrés Cepeda encuentra en el amor la excusa perfecta para visitar diferentes géneros 
        musicales e interpretar letras de alto contenido emocional. En 2009 fue nominado en 
        tres de las categorías más importantes de los premios Grammy Latinos, asimismo, recibió
         en España el premio los 40 principales como mejor artista colombiano.
        <br>
        <b>Cepeda y Fonseca unen sus talentos en este 2020</b> para deleitarnos con sus más grandes 
        canciones en un escenario lleno de talento, carisma, romance y fiesta, y llegan a Ecuador
         para deleitarnos con un show alucinante el <b>viernes 29 de mayo en Cuenca en el Coliseo Jefferson Pérez 20h00.</b>
        <br>
        Una oportunidad única para los fans de ambos artistas en un show memorable <b>Te lo trae Top Shows</b>
      

          </p>


        </article>



      </div>

      <br>

      <aside class="aside">




        <br>



        <div class="publicidad">



          <img src="assets/images/gol.gif" width="350" height="200">




        </div>


        <br>

        <div class="publicidad">



          <img src="assets/images/carro.gif" width="350" height="200">




        </div>

        <br>

        <div class="publicidad">

          <iframe src="https://www.youtube.com/embed/qw4c7kh1lSw" width="350" height="200"></iframe>

        </div>






      </aside>

    </section>

  </div>

  <footer class="footer margen-interno">

    <nav class="pie">

      <p><b>Azuay cultural</b></p>

      <p><b> CEI 2020</b></p>

    </nav>

  </footer>

</body>

</html>